$home_bg: rgb(0, 145, 229);
$jumpstart_bg: rgb(146, 96, 212);
$leader_bg: rgb(6, 119, 185);
$library_bg: rgb(152, 160, 78);
$success_bg: rgb(245, 155, 20);
$todo_bg: rgb(17, 180, 180);
$unassigned: #ddd;
$border_color: rgba(0, 0, 0, 0.1);
$border_color_lite: rgba(0, 0, 0, 0.05);
$border: 1px solid $border_color;
$border_lite: 1px solid $border_color_lite;
$border2: 2px solid $border_color;
$icon: rgba(0, 0, 0, 0.3);
$icon-med: rgba(0, 0, 0, 0.55);
$icon-hover: rgba(0, 0, 0, 0.8);
$error: rgba(200, 0, 0, 1);
$site_text: #444;
$fade_text: rgba(255, 255, 255, 0.8);
$fade_icon: rgba(255, 255, 255, 0.6);
$fade_btn: rgba(255, 255, 255, 0.2);

$problem_solution: rgb(0, 145, 229);
$problem_solution_bg: rgba(0, 145, 229, 0.1);
$learn_more: rgb(77, 139, 55);
$learn_more_bg: rgba(77, 139, 55, 0.1);
$conversation: rgb(245, 140, 35);
$conversation_bg: rgba(245, 140, 35, 0.1);
$key_terms: rgb(234, 76, 28);
$key_terms_bg: rgba(234, 76, 28, 0.1);
$ideas: rgb(0, 145, 229);
$ideas_bg: rgba(0, 145, 229, 0.1);
$case_study: rgb(162, 102, 156);
$case_study_bg: rgba(162, 102, 156, 0.1);
$leadership_principles: rgb(225, 53, 66);
$leadership_principles_bg: rgba(225, 53, 66, 0.1);
$skills4E: rgb(0, 128, 128);
$skills4E_bg: rgba(0, 128, 128, 0.1);
$coaching: rgb(255, 165, 0);
$coaching_bg: rgba(255, 165, 0, 0.1);
$info: rgb(170, 170, 170);
$info_bg: rgba(170, 170, 170, 0.1);
$discovery: rgb(141, 165, 48);
$discovery_bg: rgba(141, 165, 48, 0.1);

$header_box_shadow: 0px 1px 15px rgba(0, 0, 0, 0.3);
$box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.3);
